* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
}

nav {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4 {
    font-size: 1.5em;
}

.nav-item {
    width: 10vw;
    height: 10vh;
    margin: 0 5vw 0 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.about, .tech, .projects {
    border-bottom: 1px solid black;
}

.container {
    width: 60vw;
    height: 100vh;
}

.header {
    height: 8vh;
    width: 60vw;
    display: flex;
    align-items: center;
}

.header h1 {
    width: 20vw;
    text-align: center;
    margin: 0 30vw 0 10vw;
}

.body-container {
    height: 84%;
    display: flex;
    align-items: center;
    border-left: 1px solid black;
}

.page {
    height: 60vh;
    width: 40vw;
    padding-left: 5vw;
    /* background-color: chartreuse; */
}

.page h2 {
    font-size: 2rem;
    margin-bottom: 7vh;
}

.page p {
    font-size: 1.5em;
}

.bottom-spacer {
    height: 8vh;
    width: 100%;
}

.hidden {
    display: none;
}